.blink_me {
  animation: blinker 1s linear infinite;
}
 
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#page {
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas: "head head"
                       "nav  main"
                       "foot  foot";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

#page > header {
  grid-area: head;
  background-color: lightcoral;
text-align: center;
    text-decoration-color: white;
    font-size: 25px;
    font-family: Apple Chancery;
    color: white;
    font-style: italic;
}

#page > nav {
  grid-area: nav;
    padding: 20px;
    align-content:center;
    text-align: center;
    background-color: whitesmoke;
    font-family:sans-serif;
    margin-top: 10px;
    font-size:16px;
}

#page > main {
  grid-area: main;
background-color: #fffdf6;
background-image: linear-gradient(315deg, #fffdf6 0%, #fddac5 74%);
padding: 10px;
}

#page > footer {
  grid-area: foot;
  background-color: lightcoral;
}

.blockquote {
  background: lightcoral;
  border-left: 10px solid red;
  quotes: "\201C""\201D""\2018""\2019";
    box-shadow: 5px 10px red;
}

.blockquote:before {
  color: white;
  content: open-quote;
  font-size: 150px;
  line-height: 160px;
  vertical-align: 0;
    }

.normalText {
    font-size: 17px;
    color: black;
    text-align: center;   
}

.author { 
 width:200px;
  height:200px;
  object-fit:cover;
  border-radius:50%;
    float: right;
    border-radius: 250px 750px 250px 750px /
                 750px 250px 750px 250px;
  animation: wobble 3s ease-in-out alternate infinite;
    box-shadow: 5px 10px #888888;
}

@keyframes wobble {
  50% {
    border-radius: 750px 550px 350px 750px /
                   350px 750px 550px 450px;
  }
  100% {
    border-radius: 750px 250px 750px 250px /
                   250px 750px 250px 750px;
  }
}

#foodporn {
    width: 350px;
    height: 370px;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 30px;
    border-color: lightcoral;
    border-style:groove;
    border-radius: 20px;
}

div.item {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;    
}

img {
    width: 100%;
    height: auto;
    border-color: lightcoral;
    border-style:groove;
    border-radius: 20px;
    box-shadow: 5px 10px grey;
}

.caption {
    display: block; 
}

a:link {
  color: red;
text-decoration: none;
}

a:visited {
  color: black;
    text-decoration: none;
}

a:hover {
  color: hotpink;
    text-decoration: underline;
}

a:active {
  color: blue;
    text-decoration: none;
}

.pic_child {
   width:500px;
  height:500px;
  object-fit:cover;
  border-radius:100%;
    float: right;
    border-radius: 100%   
}

.box {
  display: flex;
 }

#flex {
    background-color:white;    
    margin: 10%;
    padding: 10%;
box-shadow: 5px 10px #888888;
font-family:sans-serif;
font-size:8px;
word-spacing: 2px;
line-height: 30px;  
}

.foodpic{
    border-radius: 200px;
    height: 240px;
    width: 240px;
    text-align: left;
}

#head{
      text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

.boxpapaya {
  float: left;
  margin: 3%;
  margin-top: 2.2%;
  width: 15%;
  height: auto;
  border-radius: 5px;
  padding: 4%;
  text-align: center;
  font-family:serif;
  border-color: black;
  border-style:double;
  line-height: 30px;
}

#papayahead {
    text-align: center;
    background-color: lightcoral;
    font-family:cursive;
    font-size: 35px;
    color: white;
    margin-left: -10px;
    margin-right: -10px;
}

#picpapa {
    height: auto;
    width:60%;
    border-color: white;
   display: block;
margin:5%;
border-radius: 0px;
}

#papatext {
    margin-left: 35%;
    word-spacing: 1px;
    font-family: sans-serif;
    line-height: 40px;    
}

 .boxroll {
            display: flex;
            justify-content: space-between;     
          }

.rollsbox {
    border-color: black;
    border-style:groove;
    padding: 2%;
    margin-right: 5%;
    margin-left:2%;
    line-height: 35px;
    font-family: sans-serif;
}

